

html {
    overflow-y: scroll;
}


ul,li, h1, div,a {
    margin: 0;
    padding: 0;
}

/* Top-bar */


.container {
  position: fixed;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.container ul li {
    display: inline;
}

.container ul {
    padding: 0 0 0 44em;
}

.container h1 {
    padding: 0 1em;
}

h1 {
    float: left;
    margin-left: 0%;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;"
}



header[role="main-header"] {
    overflow: hidden;
}

header[role="main-header"] h1 {
    margin-left: 0.4em;
    padding: 0.5em 1em;
}


header[role="main-header"] ul[role="socil-icons"] > li.active > a {
    background-color: inherit;
    border: none;
    color: #e84d49
}

header[role="main-header"] ul[role="socil-icons"] {
    list-style: none;
    text-align: right;
    margin-right: 1em;
    float: right
}

header[role="main-header"] ul[role="socil-icons"] > li {
    display: inline-block;
    margin-left: 1em
}

header[role="main-header"] ul[role="socil-icons"] > li > a {
    color: #050505;
    font-size: 14px;
    font-weight: normal
}

header[role="main-header"] ul[role="socil-icons"] > li > a:hover {
    color: #e84d49
}





/* Remove Underline */
a {
    text-decoration: none;
    outline: none;
    color: #010101;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease;
}


/* Fonts */
ul {
    margin-top: 0;
    font-family: 'Libre Franklin';
}


.footer_text {
    color: #888888;
    font-family: museo, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;

    text-align: left;

    margin: 0 0 0 0;
    position: fixed;
    bottom: 18px;
}





/* Center Image */
.gallery #content .container {
    position: absolute;
    top: 50%;

    height: 550px;
    margin-top: -275px;

}

.gallery .private_page {
    width: 100vw;
}



/******* GALLERY  *********/

.gallery .asset {
    padding: 0 0;
    float: left;
}


.gallery .assets {
    margin-left: 2em;
    overflow: hidden;
}

.gallery .asset {
    margin-right: 10px;
}



/* Image Size */
.gallery .image .img {
    position: relative;
}

.gallery .image .img.loaded {
    width: 100%;
}

.gallery .image .img img {

    height: 550px;

    width: auto;
    display: block;
}

