
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
}



/* Remove Underline */
a {
    text-decoration: none;
    outline: none;
    color: #010101;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease;
}



main[role="main"] {
    padding-top: 83px
}


.footer_text {
    position: fixed;
    left: 24px;
    bottom: 18px;
    margin: 0;
    width: 100%;
}

.footer_text {
    color: #888888;
    font-family: museo, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;

    text-align: left;

    margin: 20px 0 0 24px;
    position: fixed;
    bottom: 18px;
}
